.container{
    width: 600px;
    height: 400px;
    background-color: yellow;
    border: 2px solid black;
    display: grid;
    /* grid-template-rows: 80px 80px 80px 80px 80px;
    grid-template-columns: auto auto; */
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    /* row-gap: 10px;
    column-gap: 20px; */
    /* grid-gap: 30px 20px; */
    grid-gap: 30px;
}

.items{
    /* width: 100px;
    height: 50px; */
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}

.one{
    /* grid-column-start: 1;
    grid-column-end: 4; */

    /* grid-column: 1/4; */

    grid-column: 1/ span 3;
}

.two{
    /* grid-row-start: 1;
    grid-row-end: 3; */

    /* grid-row: 1/3; */

    grid-row: 1/ span 2;
}