h1 {
    color: rgb(13, 226, 233);
    background-color: rgb(27, 16, 16);
}

p {
    color: rgb(119, 43, 133);
    background-color: antiquewhite;
}

button {
    color: brown;
    background-color: azure;
}