h1{
    text-align: center;
    font-weight: 800;
    text-decoration: black double underline;
    letter-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: start;
    text-decoration: blue wavy overline;
    font-family: papyrus;
}

p{
    text-align: justify;
    font-weight: bold;
    line-height: 1.5; /* 1.5 * normal */
    font-size: 20;
    font-family: calibri;
}
