p{
    color: red;
    text-align: center;
    line-height: 30px;
}

h1{
    text-align: center;
    text-decoration: underline;
}

h3{
    text-align: center;
    color: black;
}

h4{
    text-align: center;
}

a{
    color: green;
    text-decoration: none;
}

button{
    background-color: black;
    color: white;
    /*text-align: center;   think again..? is it a text to allign? */
}

textarea{
    background-color: black;
    color: white;
    /*text-align: center;   same... */
}