h1{
    color: #ffa511;
    text-align: center;
    text-decoration: teal double underline;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 900;
    font-family: leauge spartan;
    letter-spacing: 2px;
    line-height: 1.5;

}