*{
    font-family: 'Courier New';
    background-color: bisque;
}

h1, h3{
    color: #b92b27;
}

#login{
    background-color: white;
}

#signup{
    background-color: #b92b27;
    color: white;
}

.a{
    background-color: aquamarine;
}

/* decendent selector */

/* p a{
    background-color: yellow;
} */

.orry a{
    background-color: yellowgreen;
}

nav ul li a{
    color: hotpink;
}

p + h3{
    text-decoration: underline;
}

.a + button{
    background-color: cornflowerblue;
    color: white;
}

div > input{
    background-color: antiquewhite;
}

input[type="text"]{
    color: green;
}

input[type="password"]{
    color: red;
}

input[type]{
    background-color: ghostwhite;
}

div[id="myid"] {
    color: green;
}

button:hover{
    background-color: black;
    color: white;
}

h3:hover{
    text-decoration: overline;
}

button:active{
    background-color: hotpink;
    color:brown;
}

p:active{
    font-weight: bold;
    color: green;
}

input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}

div:nth-of-type(2n){
    background-color: blanchedalmond;
}

h1::first-letter{
    color: black;
}

p::first-line{
    color: cadetblue;
}

p::selection{
    background-color: yellow;
}