#container{
    height: 500px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    /* align-items: baseline; */
    /* align-content: flex-start; */
}

#orgy{
    /* align-self: center; */
    /* flex-basis: 1000px; */
    /* flex-grow: 2;
    max-width: 500px;
    min-width: 500px; */
    flex-shrink: 2;
}

#blue{
    /* flex-grow: 1; */
    flex-shrink: 4;
}
h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 1500px;
    color: white;
    text-align: center;
    font-size: 1.5em;
} 