.card{
    height: 300px;
    width: 200px;
    border: 3px solid black;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 6px 10px black;
    transition: 2s;
}

img{
    width: 100%;
    border-radius: 10px;
}

.info{
    padding-left: 5px;
}

.card:hover{
    box-shadow: 12px 24px 15px black;
}