.face{
    height: 400px;
    width: 400px;
    background-color: yellow;
    border-radius: 50%;
    border: 3px solid black;
}

.mouth{
    height: 75px;
    width: 200px;
    background-color: red;
    border-radius: 0 0 20px 20px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.left_eye, .right_eye{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px;
}

.right_eye{
    left: 250px;
}