div{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    margin-top: 10px;
    margin: 0 auto;
    /* transition-duration: 1s;
    transition-delay: 1s; */
    box-shadow: 20px 20px 15px black;
    transition: margin-top 2s ease-out 0.2s;
}

div:hover{
    margin-top: 400px;
    /* background-color: black;
    border-radius: 50%; */
}

