section{
    margin-top: 100px;
    transition-duration: 1s;
}

div{
    width: 200px;
    height: 70px;
    text-align: center;
    border: 2px solid black;
    background-color: #7aa874;
    margin: 10px auto;
}

div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color: #ebb02d;
}

#one{
    transform: rotate(45deg);
}

#two{
    transform: scale(0.5);
}

#three{
    transform: translate(100px);
}

#four{
    transform: skew(30deg);
}

#five{
    transform: translate(100px) rotate(45deg);
}

section:hover{
    background-color: #7aa874;
}