body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    padding: 0 1.5rem 0 1.5rem;
    overflow: auto;
}

.music-player{
    background-color: #000;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    height: 100px;
}

.nav-options{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-options i{
    font-size: 1.25rem;
}

.nav-options a{
    font-size: 1rem;
    margin-left: 1rem;
}

.nav-options:hover{
    opacity: 1;
    transition-delay: 0.1s;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-options img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    font-size: 1rem;
    display: flex;
}

.icons i{
    margin-right: 1rem;
    opacity: 0.7;
}

.icons i:hover{
    opacity: 1;
    transition-delay: 0.1s;
}

.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
}

.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    font-weight: 700;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    height: 2rem;
    width: fit-content;
}

.dark-badge{
    background-color: #000;
    color: #fff;
}

.sticky-navbar{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons{
    margin-left: 0.75rem;
}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin-right: 1rem;
}

@media(max-width: 1000px){
    .hide{
        display: none;
    }
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1.5rem;
    margin-top: 1rem;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight: 600;
}

.card-info{
    font-size: 0.85rem;
    opacity: 0.9;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    height: 30%;
    width: 90%;
    border-top: 1px solid white;
    opacity: 0.5;
}

.music-player{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player{
    width: 50%;
    /* background-color: aqua; */
}

.controls{
    width: 25%;
    /* background-color: aliceblue; */
}

.player-control{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.player-control-icon{
    height: 1rem;
    margin-left: 2rem;
    opacity: 0.7;
}

.player-control-icon:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 0.17rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    background-color: #1bd760;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-top: -6px;
}

.meta {
  color: #b3b3b3;  /* grayish color */
  font-size: 0.9rem;
}

.material-symbols-outlined{
    font-size: 1.1rem;
    color: #1bd760;
}

.album img{
    width: 15%;
    height: 15%;
}

.album{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: hotpink; */
}

.album h3{
    font-size: 1rem;
}

.album p{
    font-size: 0.7rem;
    opacity: 0.9;
    margin: 0;
    display: grid;
}

.volume-bar{
    width: 25%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.volume-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 0.3rem;
}

.volume-bar::-webkit-slider-thumb{
    appearance: none;
    background-color: #1bd760;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    margin-top: -3px;
}

.controls{
    display: flex;
    justify-content: center;
}

.controls i{
    margin-right: 1rem;
    opacity: 0.8;
}

.controls i:hover{
    opacity: 1;
}

.material-symbols-outlined{
    font-size: 1.3rem;
}

.music-player i{
    opacity: 0.8;
}

.music-player i:hover{
    opacity: 1;
}
