div{
    height: 200px;
    width: 500px;
    background-color: pink;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    /* border-left:5px dashed darkgreen;
    border-right:5px groove gray;
    border-top:5px dotted black;
    border-bottom:5px double brown; */
    border-radius: 10px;
    padding: 30px;
    margin: 50px 100px 50px;
}

h1{
    border-style: dashed;
    border-color: blueviolet;
}

button{
    border: 2px solid black;
    background-color: bisque;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    margin: 20px;
}